/*

  ____                             _   _        ____        _       
 / ___|  ___ _ __ ___   __ _ _ __ | |_(_) ___  |  _ \  ___ (_) ___  
 \___ \ / _ \ '_ ` _ \ / _` | '_ \| __| |/ __| | | | |/ _ \| |/ _ \ 
  ___) |  __/ | | | | | (_| | | | | |_| | (__  | |_| | (_) | | (_) |
 |____/ \___|_| |_| |_|\__,_|_| |_|\__|_|\___| |____/ \___// |\___/ 
 Web Semantics, Inc.                                     |__/       
          _______   _                                     
         |__   __| | |                                    
            | |    | |__     ___   _ __ ___     ___   ___ 
            | |    |  _ \   / _ \ |  _   _ \   / _ \ / __|
            | |    | | | | |  __/ | | | | | | |  __/ \__ \
            |_|    |_| |_|  \___| |_| |_| |_|  \___| |___/
                                                         

  This config file controls both, Semantic UI and Dijit Themes.

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'default';
@reset      : 'default';

/* Elements */
@button     : 'default';
@container  : 'default';
@divider    : 'default';
@slider     : 'default'; /* Dijit only */
@palette    : 'default'; /* Dijit only */
@flag       : 'default';
@header     : 'default';
@icon       : 'default';
@image      : 'default';
@input      : 'default';
@label      : 'default';
@list       : 'default';
@loader     : 'default';
@rail       : 'default';
@reveal     : 'default';
@segment    : 'default';
@step       : 'default';

/* Collections */
@breadcrumb : 'default';
@form       : 'default';
@grid       : 'default';
@menu       : 'default';
@message    : 'default';
@table      : 'default';

/* Modules */
@accordion  : 'default';
@checkbox   : 'default';
@dimmer     : 'default';
@dropdown   : 'default';
@embed      : 'default';
@modal      : 'default';
@nag        : 'default';
@popup      : 'default';
@progress   : 'default';
@rating     : 'default';
@search     : 'default';
@shape      : 'default';
@sidebar    : 'default';
@sticky     : 'default';
@tab        : 'default';
@tree       : 'default';
@transition : 'default';

/* Views */
@ad         : 'default';
@card       : 'default';
@comment    : 'default';
@feed       : 'default';
@item       : 'default';
@statistic  : 'default';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';

/* Path to Semantic Ui */
@semanticUiFolder  : '../src/semantic/src';

/* Path to Dist */
@distFolder  : '../dist';

/* Path Dijit */
@dijitFolder  : 'dijit';

/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */