/*
  _______   _                                     
 |__   __| | |                                    
    | |    | |__     ___   _ __ ___     ___   ___ 
    | |    |  _ \   / _ \ |  _   _ \   / _ \ / __|
    | |    | | | | |  __/ | | | | | | |  __/ \__ \
    |_|    |_| |_|  \___| |_| |_| |_|  \___| |___/
                                                 

  Dijit Themes.

	Web Semantics, Inc.

*/

/* Path to this folder */
@targetFolder : @dijitFolder;

/*******************************
  Import a common Theme config
*******************************/

@import "../theme.config";

/* End Config */