<div>

<style type="text/css">


</style>


  <div class="ui container">

    <br/><br/><br/>

		<div data-dojo-id="continentStore" data-dojo-type="dojo/data/ItemFileWriteStore" data-dojo-props='url:"src/app/data/countries.json"'></div>
		<div data-dojo-id="continentModel" data-dojo-type="dijit/tree/ForestStoreModel" data-dojo-props='store:continentStore, query:{type:"continent"},
		rootId:"continentRoot", rootLabel:"Continents", childrenAttrs:["children"]'></div>

		<div id="mytree" data-dojo-type="dijit/Tree" aria-labelledby="mytreeLabel"
		data-dojo-props='model:continentModel'>

		</div>

  </div>